.carousel {
    &__image--container {
        color: #ddd;
        position: relative;
        max-width: 50%;
        height: 500px;
        margin: 0 auto;
        overflow-x: hidden;
    }

    &__image--one,
    &__image--two,
    &__image--three,
    &__image--four {
        transform: translateX(300%);
        height: 100%;
        position: absolute;
        width: 100%;
    }
    
    &__image--one.current,
    &__image--two.current,
    &__image--three.current,
    &__image--four.current {
        transform: translateX(0);
        transition: transform 1s ease-out;
    }

    &__image--one.inactive,
    &__image--two.inactive,
    &__image--three.inactive,
    &__image--four.inactive {
        transform: translateX(-300%);
        transition: transform 3.5s ease;
    }

    &__heading {
        &--container {
            font-size: 24px;
            padding: 10px;
            background-color: rgba($color: #000000, $alpha: .7);
            position: absolute;
            width: 80%;
            z-index: 10;
            bottom: 70px;
            left: 50%;
            transform: translateX(-50%);
            border-radius: 7px;

            a {
                margin: 20px;

            }
        }
    }
}