.inquiry {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    max-width: 600px;
    max-height: 800px;
    width: 80vw;
    height: 80vh;
    background-color: rgba(255, 255, 255, 0.975);
    z-index: 50; 
    padding: 10px;
    &--title {
        text-align: center;
        font-size: 24px;
        text-transform: capitalize;
        padding: 75px 0 30px;
        position: relative;
        margin: 0 10%;
        color: #4B3113;
        &::before {
            content: '';
            position: absolute;
            bottom: 0;
            left: 10%;
            width: 80%;
            height: 3px;
            background-color: #4B3113;
        }

    }

    &--form {
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        align-items: center;
        height: 60%;
        margin-top: 50px;
    }

    &--input {
        position: relative;
        z-index: 75;
        min-width: 99.9%;
        border: none;
        text-align: center;
        line-height: 44px;
        font-size: 22px;
        background-color: transparent;
        color: #fff;
        &:active,
        &:focus {
            + label {

                &::before {
                    height: 100%;
                }

                &::after {
                    opacity: 1;
                    transform: rotate(-90deg) translate(50%, -110%);
                }
            }
        }


        &__container {
            position: relative;
            width: 50%;
            padding-top: 15px;
            margin-bottom: 20px;
            textarea {
                min-height: 110px;
                max-height: 255px;
                max-width: 90%;
            }

            label[name="name"] {
                &::after {
                    content: 'name';
                }
            }

            label[name="email"] {
                &::after {
                    content: 'email';
                }
            }

            label[name="phone"] {
                &::after {
                    content: 'phone';
                }
            }

            label[name="message"] {
                &::after {
                    content: 'message';
                }

                &::before {
                    transition: .2s all ease-in-out !important; 
                }
            }
        }

        &__label {
            position: absolute;
            left: 0;
            bottom: 0;
            width: 100%;
            height: 100%;
            text-align: center;
            pointer-events: none;
            font-weight: 700;
            line-height: 44px;
            font-size: 22px;
            opacity: 1;
            transition: .075s all ease;
            &::before {
                content: '';
                position: absolute;
                bottom: 0;
                left: 0;
                width: 100%;
                height: 4px;
                background-color: #4B3113;
                opacity: 1;
                transition: .22s all ease-in-out;
            }

            &::after {
                font-size: 16px;
                position: absolute;
                left: 0;
                top: 50%;
                transform: rotate(-90deg) translate(50%, -20%);
                opacity: 0;
                transition: .1s all ease-in;
            }

        }
    }

    &--submit {
        position: absolute;
        bottom: 0;
        left: 0;
        width: calc(100% - 50px);
        height: 10%;
        font-size: 22px;
        text-transform: uppercase;
        font-weight: 800;
        color: #fff;
        background-color: rgb(75, 49, 19);
        margin: 0 25px 10px;
    }
}



.toggle {
    position: fixed;
    bottom: 2rem; right: 2rem;
    z-index: 15;
    transform: translateY(0);
    background-color: #F8F2EB;
    font-size: 10px;
    font-weight: 700;
    display: flex;
    align-items: center;
    padding: 1.4em 3.75em;
    border-radius: 2.25em;
    box-shadow: 0 .5em 1.3em rgba(0,0,0,.22);
    cursor: pointer;
    overflow: hidden;
    transition: .2s all ease-in-out;

    &--icon {
        font-size: 2.75em;
        position: relative;
        transform: translateX(0);
        transition: transform .13s ease-out;
    }

    &--text {
        font-size: 2.25em;
        padding-right: .75em;
    }

    &::before {
        content: '';
        position: absolute;
        bottom: 0;
        left: 0;
        height: 0rem;
        width: 100%;
        background-color: $brown-primary;
        clip-path: circle(100% at 50% 100%);
        transition: all .4s cubic-bezier(0.16, 1, 0.3, 1);
    }

    &:hover {
        color: #fff;
        transform: translateY(3px);
        box-shadow: 0 .25em .9em rgba(0,0,0,.31);
        &::before {
            height: 100%;
            clip-path: circle(100% at 50% 100%);
            z-index: -1;
        }

        .toggle--icon {
            transform: translateX(6px);
        }
    }
}