.header {
    font-size: 10px;
    position: relative;
    width: 100vw;
    transition: .36s all;

    &--logo {
        width: 70%;
        &__container {
            position: absolute;
            top: 24.6%;
            background-color: rgba(256,256,256, .85);
            width: 48em;
            height: 9em;
            display: flex;
            justify-content: center;
            align-items: center;
            border-top-right-radius: 1.7em;
            border-bottom-right-radius: 1.7em;

            a {
                text-align: center;
            }

            @media screen and (max-width: 700px) {
                width: 32em;
                height: 8em;
            }
        }
    }

    &--message {
        position: relative;
        width: 100%;
        text-align: center;

        a {
            text-decoration: none;
        }

        h1 {
            @include brownTitle(-130px);
        }

        h2 {
            position: relative;
            padding-top: 65px;
            margin-bottom: 55px;
            color: $brown-primary;
            font-weight: 400;
            font-size: 30px;
            text-transform: uppercase;
            display: table-cell;

            // border-bottom: .2rem solid $brown-primary;

            &::before {
                content: '';
                position: absolute;
                display: table-cell;
                bottom: 0;
                width: 100%;
                height: .2rem;
                background-color: $brown-primary;
            }

            @media screen and (max-width: 1280px) {
                font-size: 26px;
            }

            @media screen and (max-width: 820px) {
                font-size: 22px;
            }
        }
    }
}