.nav {
    display: flex;
    justify-content: center;
    width: 80vw;
    margin: 0px auto 10px;
    flex-wrap: wrap;
    position: relative;
    padding-top: 45px; padding-bottom: 25px;

    &::before {
        content: '';
        position: absolute; 
        top: 0;
        left: 50%;
        width: 95vw;
        height: 95%;
        background: rgba($brown-primary, .05);
        transform: translate(-50%, 25px);
        padding-bottom: 30px;
        box-shadow: 0 -100px 150px 30px rgba(0,0,0, .6);
        border: rgba($brown-primary,.4) solid 2px;
    }

    &--item {
        text-align: center;
        position: relative;
        color: rgba(255, 255, 255, 0);
        cursor: pointer;
        transition: .3s all ease;
        box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
        transition: .3s all;
        overflow-y: hidden;
        transform: translateY(0) scale(1);

        border-bottom: solid 3px $brown-primary;
        &:hover {
            // border-bottom: solid 3px rgba($brown-primary, .1);

            // transform: translateY(-5px) scale(1.05);
            // color: #fff;
            // &::after {
            //     transform: translateY(100%);
            // }
        }
    

        &::before {
            content: '';
            position: absolute;
            left: 0;
            top: 0;
            width: 100%;
            height: 100%;
            background-color: rgba(0,0,0, .5);
        }

        &__name {
            position: absolute;
            z-index: 10;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            text-transform: capitalize;
            font-size: 18px;
            font-weight: 700;
        }
        
        &__link {
            display: inline-block;
            width: calc(33.33% - 2vw);
            margin: 1vw;
        }

        @media screen and (max-width: 1000px) {

            &__link {
                width: calc(50% - 2vw);
            }
        }

        @media screen and (max-width: 660px) {

            &__link {
                width: 70%;
            }
        }
    }
}