.showcase {
    position: relative;
    min-height: 100%;
    &--title {
        text-align: center;
        @include brownTitle(-90px);
    }


    &--grid {
        display: grid;
        width: 75%;
        margin: 150px auto 0;
        grid-template-columns: repeat(3, 1fr);
        grid-auto-rows: minmax(auto, 470px);
        row-gap: 85px;
        column-gap: 45px;
        position: relative;

        &__load {
            position: relative;
            background-color: $brown-primary;
            color: #fff;
            padding: 16.5px 22.55px;
            display: flex;
            justify-content: space-around;
            width: 275px;
            border-radius: 22.5px;
            cursor: pointer;
            margin: 50px auto 0;
            font-size: 22px;
            overflow: hidden;
            transition: .2s all ease-in-out;
            box-shadow: 0 5px 13px rgba(0,0,0,.22);

            span {
                font-weight: 800;
            }
            svg {
                margin-top: 1px;
                font-size: 28px;
            }

            &::before {
                content: '';
                position: absolute;
                bottom: 0;
                left: 0;
                height: 0rem;
                width: 100%;
                background-color: #fff;
                clip-path: circle(100% at 50% 100%);
                transition: all .4s cubic-bezier(0.16, 1, 0.3, 1);
            }

            &:hover {
                color: $brown-primary;
                transform: translateY(3px);
                box-shadow: 0 2.5px 9px rgba(0,0,0,.31);
                &::before {
                    height: 100%;
                    clip-path: circle(100% at 50% 100%);
                    z-index: -1;
                }
            }
        }
    }
}

.product {
    max-width: 100%;
    padding: 20px 10px;
    background-color: #fff;
    box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-end;
    &--image {
        max-width: 100%;
        max-height: 100%;
        &__container {
            max-width: 90%;
            flex-grow: 1;
            display: flex;
            justify-content: center;
            align-items: flex-start;
            max-height: 55%;
        }
    }

    &--info {
        flex-grow: 4;
        width: 100%;
        position: relative;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: flex-end;
    }

    &--name {
        font-size: 18px;
        text-transform: capitalize;
        flex-grow: 1;
        padding-top: 25px;
        color: #000;
        font-weight: 400;
        &::before {
            content: '';
            position: absolute;
            bottom: 52.5%;
            left: 10%;
            width: 80%;
            height: 2px;
            background-color: #707070;
        }
    }

    &--price {
        font-size: 24px;
        padding-bottom: 10px; padding-top: 40px;
    }
}