* {
    margin: 0;
    padding: 0;
    font-family: 'Montserrat', sans-serif;
}

a {
    color: #fff;
}

nav {
    /* background:  */
    color: #815523;
    height: 75px;
    line-height: 75px;
}

nav span {
    float: right;
    margin-right: 10px;
}

footer {
    background: #555;
    font-size: 10px;
    height: 50px;
}

footer p {
    color: #FFF;
    line-height: 50px;
    display: inline
}

footer img {
    display: inline;
    position: absolute;
    right: 100px;
    margin-top: 10px;
}

footer a {
    float: right;
    color: #FFF;
    line-height: 50px;
    text-decoration: none;
    display: inline;   
    margin-right: 10px;
}

#hero {
    height: 450px;
    width: 100%;
    background:url(img/hero-5.jpg) center center no-repeat;
    background-size: cover;
}
#hero-cover {
    position: relative;
    margin-bottom: -450px;
    top: -450px;
    height: 450px;
    width: 100%;
    background-image: linear-gradient(to right, rgba(255,255,255,.70), rgba(255,255,255,0));
}

#hero-1 {
    font-size: 25px;
}
#hero-1 span {
    font-size: 45px;
    color: #815523;
}

#hero-2 {
    float: right;
    color: #FFF;
    font-size: 40px;
    margin: 0;
    padding: 0;
}

#hero-2-parent {
    margin-top: 45px;
}

#nav-logo {
    height: 50px;
    vertical-align: middle;
}

#container {
    text-align: center;
}

#title {
    background: #fff;
    padding: 10px;
    margin-top: -60px !important;
    /* margin-left: auto;
    margin-right: auto; */
    display: inline-block;
}

#flooring {
    background:url(img/flooring.jpg) center bottom no-repeat;
    background-size: 100%;
    height: 250px;
    margin-top: 15px;
    color: #FFF;
}

#flooring p {
    width: 60%;
    font-size: 20px;
    margin: 50px auto 0px auto;
    font-weight: bold;
    margin-bottom: 30px;
    
}

#flooring a {
    margin-top: 50px;
}

#hours {
    text-align: left;
}

#hours h6 {
    font-weight: bold;
}

#furniture-showroom {
    background:url(img/showroom.jpg) center bottom no-repeat;
    height: 300px;
    background-size: 100%;
}

#furniture-showroom h5 {
    padding-top: 40px;
}

#carpet-showroom {
    background:url(img/carpet-showroom.jpg) center bottom no-repeat;
    height: 300px;
    background-size: 100%
}

#carpet-showroom h5 {
    padding-top: 40px;
}

.overlay {
    background: rgba(0,0,0,.30);
    width: 100%;
    height: 100%;
}

#car-1 {
    background:url(img/flooring.jpg) center bottom no-repeat;
    background-size: 100%;
}

#car-2 {
    background:url(img/building.jpg) center bottom no-repeat;
    background-size: 100%
}

#car-3 {
    background:url(img/warehouse.jpeg) center bottom no-repeat;
    background-size: 100%
}

#car-4 {
    background:url(img/appartment-carousel.jpg) center bottom no-repeat;
    background-size: 100%
}

hr { 
    display: block;
    width:100%;
    margin-top: 0.5em;
    margin-bottom: 0.5em;
    margin-left: auto;
    margin-right: auto;
    border-style: solid;
    border-width: 1px;
  }

  .main-btn {
      font-size: 16px;
      border: none;
      cursor: pointer;
      /* background: brown; */
      color: white;
      padding: 5px 20px;
      border-radius: 8px;
      background: #644727; /* Old browsers */
      background: -moz-linear-gradient(top, #644727 0%, #815523 100%); /* FF3.6-15 */
      background: -webkit-linear-gradient(top, #644727 0%,#815523 100%); /* Chrome10-25,Safari5.1-6 */
      background: linear-gradient(to bottom, #644727 0%,#815523 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
      filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#644727', endColorstr='#815523',GradientType=0 ); /* IE6-9 */
  }

  .heading {font-size:30px;border-top: 2px solid #000; margin-top: 50px; font-weight: bold;}
  .heading span { position: relative; top: -23px; padding: 10px; background: white;}

  @media only screen and (min-device-width : 320px) and (max-device-width : 480px) {
    /* Styles */
    .main-btn {
        font-size: 10px;
    }

    .carousel {
        /* height: 200px !important; */
    }

    .clearance img {
        margin-bottom: 15px;
    }

    #car-1 {
        background:url(img/flooring.jpg) center bottom no-repeat;
        background-size: auto 100%;
    }
    
    #car-2 {
        background:url(img/building.jpg) center bottom no-repeat;
        background-size: auto 100%
    }

    #car-3{
        background:url(img/warehouse.jpeg) center bottom no-repeat;
        background-size: auto 100%;
    }
    
    #car-4 {
        background:url(img/appartment-carousel.jpg) center bottom no-repeat;
        background-size: auto 100%
    }
    

    #hero {
        height: 150px;
    }

    #hero-cover {
        height: 150px;
        margin-bottom: -150px;
        top: -150px;
    }

    #hero-2 {
        font-size: 11px;
    }

    #hero-2-parent {
        margin-top: 1px;
    }

    #flooring {
        height: 100px;
        font-size: 13px;
    }

    #flooring p {
        width: 80%;
        font-size: 12px;
        margin: 10px auto 0px auto;
        font-weight: bold;
        margin-bottom: 5px;
    }

    #flooring a {
        margin-top: 5px;
    }

    #furniture-showroom {
        background:url(img/showroom.jpg) center bottom no-repeat;
        height: 100px;
        background-size: 100%;
    }
    
    #furniture-showroom h5 {
        padding-top: 30px;
        font-size: 14px
    }
    #furniture-showroom span {
        font-size: 10px;
    }
    
    #carpet-showroom {
        background:url(img/carpet-showroom.jpg) center bottom no-repeat;
        height: 100px;
        background-size: 100%
    }
    
    #carpet-showroom h5 {
        padding-top: 30px;
        font-size: 14px
    }
    #carpet-showroom span {
        font-size: 10px;
    }

    .heading {font-size:14px;border-top: 2px solid #000; margin-top: 20px;}
    .heading span { position: relative; top: -12px; padding: 10px; background: white;}
    }
