
@import './styles/util/variables';
@import './styles/util/mixins';

@import './styles/layout/header';
@import './styles/layout/nav';
@import './styles/layout/brands';
@import './styles/layout/footer';

button {
    border: none;
}

button:hover {
    cursor: pointer;
}

.clearance-categories,
.stock-categories,
.-categories {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: 40px 0;
}

.clearance-categories.clearance {
    flex-wrap: nowrap;
}

.clearance .category-card {
    max-width: 15%;
}

.category-card {
    margin: 10px;
    max-width: 600px;
}

.category-card img {
    width: 100%;
}


.clearance-items-wrapper,
.stock-items-wrapper {
    margin: 25px auto;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    width: 75%;
    transition: height .5s;
    position: relative;
    padding-bottom: 50px;
}

.clearance-item img,
.stock-item img {
    width: 250px;
    margin: auto;
}

.clearance-item,
.stock-item {
    margin: 50px;
    height: 350px;
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.clearance-item {
    opacity: 0;
    animation: fadeIn .37s linear 1 forwards;
}

@keyframes fadeIn {
     from {
         opacity: 0;
     }

     to {
         opacity: 1;
     }
}

.item-desc {
    text-align: center;
}

.clearance-load,
.stock-load {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    font-size: 24px;
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    height: 75px;
    background-color: #ccc;
    padding: 0 5px 0 5px;
    border-radius: 5px;
}

.clearance-load:hover,
.stock-load:hover {
    cursor: pointer;
}

.clearance-out {
    text-align: center;
    width: 100%;
    font-size: 32px;
    margin-top: 100px;
}

.loading {
    justify-content: center;
    align-items: flex-start;
    padding-top: 50px;
}