@mixin brownTitle($top) {
    $mobileTop: $top + 50px;
    position: absolute;
    left: 50%;
    z-index: 10;
    top: $top;
    transform: translateX(-50%);
    font-weight: 400;
    box-shadow: 0 .55em .8em rgba($brown-primary, .32);

    background-color: rgba($brown-primary, .85);
    color: #fff;
    width: 37vw;
    min-width: 600px;
    max-width: 820px;
    font-size: 32px;
    padding: 40px 75px;

    @media screen and (max-width: 800px)  {
        min-width: 0;
        width: 90vw;
        font-size: 24px;
    }

    @media screen and (max-width: 575px) {
        width: 75vw;
        font-size: 18px;
        padding: 30px 60px;
        top: $mobileTop;
    }
}

@mixin contactAndHours {

    &--title {
        font-size: 3.1em;
        margin-bottom: .3em;
    }

    &--item,
    &--day {
        display: flex;
        width: 70%;
        justify-content: space-between;
        font-size: 1.9em;
        margin: .2em 0;
    }

    &--day p {
        display: inline-block;
        width: 50%;
    }

    @media screen and (max-width: 1400px) {
        &--title {
            font-size: 2.1em;
        }

        &--item,
        &--day {
            display: flex;
            width: 80%;
            justify-content: space-between;
            font-size: 1.7em;
            margin: .2em 0;
        }
    }

    @media screen and (max-width: 1150px) {
        width: 100%;
        margin: 0 auto 3em;

        &__wrapper {
            width: 90%;
            margin-left: auto;
            margin-right: auto;
        }

        &--title {
            text-align: left;
        }


        &--day,
        &--item {
            width: 100%;
        }
    }
}